@use './base/variables' as *;
@use './base/mixins' as *;

:root {
  background-color: $background-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  color: $text-color;
  font-family: Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.5;
}

.container {
  width: 100%;
  @include flex-row;
  justify-content: space-between;
  margin-top: 2rem;
  padding: 0 2rem;
}