
@mixin flex-column {
  display: flex;
  flex-direction: column;


}

@mixin flex-row {
  display: flex;
}

@mixin grid-row {
  display: grid;
  justify-items: center;
  grid-template-rows: repeat(4, minmax(100px, 1fr));
  gap: 1rem;
}

@mixin grid-column {
  display: grid;
}