$background-color: #0F0F0F;
$text-color: #ffffff;
$gray: #4d4d4d;
$border-stroke: #8C8C8C;

//Checkbox gradient
$checkbox-gradient-sky: #7CC1F3;
$checkbox-gradient-pink: #D27EEF;

//Login button gradient
$btn-login-sky: #628EFF;
$btn-login-violet: #8740CD;
$btn-login-plum: #580475;

//Register button gradient
$btn-register-aqua: #62C7FF;
$btn-register-indigo: #221EBF;
$btn-register-midnight: #040F75;
